.navbar {
  background: black;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}
.navbar-nav {
  flex-direction: row;
  justify-content: center;
}
.logo {
  width: auto;
  height: 50px;
}
.login {
  padding: 5px 20px 5px 5px;
}
.login a {
  color: white;
}
.full-width-image {
  height: 400px;
  width: 100%;
  background: url("img/topimg.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logoimg {
  width: 40%;
  height: auto;
}
.searchform {
  width: 35%;
}
.search {
  width: 60%;
  border: 1px solid lightgray;
  padding: 15px;

}
.searchbtn {
  color: white;
  background: #8CC2EA;
  padding: 15px;
}
.btn:hover {
  cursor: pointer;
} 
.mdl-button {
  position: fixed;
  right: 15px;
  bottom: 15px;
  outline: none;
}
.mdl-button--fab.mdl-button--colored {
  background: #dc3545;
}
.mdl-button--fab.mdl-button--colored:hover {
  background: #C82333;
}
.mdl-button:focus {
  outline: none;
}

.test{
  display: none;
}
/* What up  */



footer div.row div.col-sm-4{
  text-align: center;
}

footer div.copyright{
  text-align: center;
}
