.navbar {
  background: black;
  font-family: 'Reem Kufi', sans-serif;
  letter-spacing: 1px;
}
.navbar-nav {
  flex-direction: row;
  justify-content: center;
}
.logo {
  width: auto;
  height: 50px;
}
.login {
  padding: 5px 20px 5px 5px;
}
.login a {
  color: white;
}
.full-width-image {
  height: 400px;
  width: 100%;
  background: url("img/topimg.jpg") no-repeat center;
  background-size: cover;
<<<<<<< HEAD
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logoimg {
  width: 40%;
  height: auto;
}
.search {
  width: 35%;
}
.btn:hover {
  cursor: pointer;
=======
} 

.test{
  display: none;
}
/* What up  */



footer div.row div.col-sm-4{
  text-align: center;
}

footer div.copyright{
  text-align: center;
>>>>>>> 94a08db3e1add9ff0cd0ad3a3ac0d4e426fc6468
}
